@font-face {
  font-family: "roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -259px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 32px 40px 17px;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  padding: 0 12px 15px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sme-menu {
  background: #2D2A20;
  width: 259px;
  font-family: Roboto;
}

.sme-menu .fa,
.sme-menu .fas {
  font-weight: 900;
  font-size: 20px;
  margin: 0 10px 0 0;
}

.sme-brand {
  margin: 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #1A1E23;
}

.sidebar-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px !important;
  line-height: 21px;
  opacity: 0.75;
}

.sme-menu-list .list-group-item {
  background: #2D2A20;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.sme-menu-list a.list-group-item {
  color: #FFFFFF;
  opacity: 0.85;
}

.sme-menu-list .list-group-item i {
  color: #FFFFFF;
  opacity: 0.35;
}

.sme-menu-list .list-group-item.active {
  background: #4a4944;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  border-radius: 4px;
}

.sme-menu-list a.list-group-item.active,
.sme-menu-list .list-group-item.active i {
  color: #fff;
  opacity: 1;
}

.sme-menu-list {
  border-bottom: 1px solid #6b685f;
}

.navbar-sme-light {
  height: 84px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: .5rem 0 .5rem 33px;
}

.sme-log {
  display: flex;
  height: 84px;
  border-left: 1px solid #dee2e6;
  width: 94px;
  justify-content: center;
}

.sme-expand {
  margin: 0 20px 0 0px;
  font-size: 27px;
  color: #000;
}

.sme-current {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1A1E23;
  margin: 0 0 1.9rem;
}

.sme-button-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 26px;
}

.sme-button-bar-left a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #576474;
}

.sme-button-bar-left a i {
  margin-right: 10px;
  color: #576474;
}

.sme-button-bar-right {

}

.btn-sme {
  height: 48px;
  line-height: 20px;
  background: #e8d499;
  border-radius: 4px;
  color: #85660E;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  margin-top: 16px;
}

.btn-sme i {
  font-size: 16px;
  margin: 0 10px 0 13px;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -259px;
  }
}
